body{
	background: $bg_body no-repeat;
	font-size: 16px;
}
#root{


}
.App{
	background:$bg_app;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	@media (max-width: 768px){
		@include padding-x(2%);
		@include padding-y(2%);
	}

	a{
		text-decoration: underline;
	}
}
.container{
	background: rgba($color__white, $alpha75);
	border-radius:8px;
	@include padding-y(2%);
	@include padding-x(2%);
	@include margin-y(2rem);
		
	h2{
		margin:0;
		color:$primary_purple;
	}
}

.icon{
	width: 50px;
}
[class*="creditgroup"]{
	display: none;
}

