/*******************************************************************/
/*                                                                 */
/*                       FOOTER LAYOUT                             */
/*                                                                 */
/*******************************************************************/

.site-footer {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 5rem;
    position: relative;
    width: 100%;
    margin: auto;
    background: linear-gradient(to bottom right, #182057, #75302a);
    @include padding-x(2rem);
    ul {
        list-style: none;
        @include margin-y(0);
        @include padding-y(1rem);
        display: flex;
        flex-flow: row nowrap;

        li {
            @include padding-x(.5rem);
        }
    }

}


/*******************************************************************/
/* ================= end of footer layout ======================== */
/*******************************************************************/
