/*******************************************************************/
/*                                                                 */
/*                       FOOTER LAYOUT                             */
/*                                                                 */
/*******************************************************************/

.site-footer {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  background: $bg_footer;
  border-top: 1px solid $color__skyblue;
  padding-top:.5rem;
  @include padding-x(2rem);

  .site-title {
    flex-grow: 0;

    .site-logo {
      font-size: 12px;
      display: block;
      width: 30px;

      margin-right: .5rem;
      vertical-align: super;
    }
  }
  .footer-nav{
    flex-grow: 1;
    font-family: $font__heading;
    font-weight: 700;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      flex-grow: 1;
      margin:.3rem 0 0;

      li {
        @include padding-x(.5rem);
      }
    }
  }
  .footer-social {

    ul{
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      flex-grow: 1;
      margin:.3rem 0 0;
      li {
        @include padding-x(.5rem);
      }
    }
  }
}


/*******************************************************************/
/* ================= end of footer layout ======================== */
/*******************************************************************/
