/****************************************************************/
/*                                                              */
/*                       HEADER LAYOUT                          */
/*                                                              */
/****************************************************************/
header {
  width: 100%;
  position: relative;
  background: $bg_header;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include padding-y(2rem);
  @include padding-x(2rem);


  

  .site-title {
    flex-grow: 0;

    .site-logo {
      font-size: 12px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 50%;
      @include padding-x(15px);
      @include padding-y(22px);
      margin-right: .5rem;
      vertical-align: super;
    }

    h1 {
      display: inline-block;
      font-size: 1.5em;
    }
  }

  .header-nav {
    flex-grow: 1;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      li {
        @include padding-x(2%);
      }
    }
  }

  .search-form {
    flex: 0 0 167px;
    position: relative;
    margin-right:1rem;
    i {
      position: absolute;
      right:10px;
      top:10px;
      color:#fff;
      font-weight: 900;

    }
    .search-field {
      background: transparent;
      width: 30px;
      // width: 0px;
      color: #000;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 10px 20px;
      border-radius: 10em;
      transition: all .5s;
      float: right;
      position: relative;
      z-index: 99;

      &:focus{
        width: 130px;
        background-color: #fff;
        border-color: #66CC75;
        cursor: auto;
        padding-right:30px;
      }
      &:focus + i{
       color:#000;
       z-index:9999;
     }

     &:hover{
        // background-color: #fff;
      }
      // @include padding-y(9px);
    }

    .search-submit {
      position: absolute;
      right: 5px;
      border: none;
      background-color: initial;
      top: 10px;

      img {
        width: 15px;
      }
    }
  }

  .support-us{
    background: #91F1F9;
    color:#000;
    border:none;
    border-radius:8px;
    font-weight: bold;
    @include padding-x(1.5%);
    @include padding-y(.5%);
  }
}
a {
  text-decoration: none;
  color: black;
}

.site-title {
  a {
    color: white;
  }
}

.site-header, .site-footer {
  nav a {
    color: white;
    font-weight: 400;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 -2px inset white;
    }
  }
}


/*test for sliding from top menu*/
.slide{
  position: fixed;
  top: -150px;
  width: 100%;
  display: block;
  transition: top 0.7s;
}
/*******************************************************************/
/* ================= end of header layout ======================== */
/*******************************************************************/
