/****************************************************************/
/*                                                              */
/*                       HEADER LAYOUT                          */
/*                                                              */
/****************************************************************/
header {
  width: 100%;
  position: relative;
  background: $background_gradient;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include padding-y(2rem);
  @include padding-x(2rem);
  .site-title {
    flex-grow: 0;

    .site-logo {
      font-size: 12px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 50%;
      @include padding-x(15px);
      @include padding-y(22px);
      margin-right: .5rem;
      vertical-align: super;
    }

    .site-title-h1 {
      display: inline-block;
      font-size: 1.5em;
    }
  }

  .header-nav {
    flex-grow: 1;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      li {
        @include padding-x(2%);
      }
    }
  }

  .search-form {
    flex: 0 0 167px;
    position: relative;

    .search-field {
      background: url('components/assets/icons/search.svg') no-repeat right center;
      background-size:30px;
      width: 30px;
      color: #000;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 10px 20px;
      border-radius: 10em;
      transition: all .5s;
      float: right;
      &:focus{

        width: 130px;
        background-color: #fff;
        border-color: #66CC75;
        cursor: auto;
        padding-right:30px;

      }
      &:hover{
        // background-color: #fff;
      }
      // @include padding-y(9px);
    }

    .search-submit {
      position: absolute;
      right: 5px;
      border: none;
      background-color: initial;
      top: 10px;

      img {
        width: 15px;
      }
    }
  }
}
a {
  text-decoration: none;
  color: black;
}

.site-title {
  a {
    color: white;
  }
}

.site-header, .site-footer {
  nav a {
    color: white;
    font-weight: 400;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 -2px inset white;
    }
  }
}
/*******************************************************************/
/* ================= end of header layout ======================== */
/*******************************************************************/
