/*--------------------------------------------------------------
## Causes & Effects Layout
--------------------------------------------------------------*/

.causes-effects {
    img + h2 {
        display: inline-block;
        margin-left: .5rem;
    }

    .causes-chart {
        @include margin-y(1rem);
        text-align: center;
    }

    h2{
    	color:$color__white;
    }
    .GlobalWarming p{
    	color:$color__white;
    }
}
