
.home_header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  // @include margin-y(2rem);
  // margin-top: 120px;
  margin-bottom: 2rem;
  padding-top: 2rem;
  .site-title {
    flex-grow: 0;

    .site-logo {
      font-size: 12px;
      display: block;
      width: 150px;
    }

    h1 {
      display: inline-block;
      font-size: 1em;
      color:$primary_purple;
    }
  }
  .search-form {
    flex-grow: 1;
    position: relative;
    margin-right: 1rem;
    border-right: 2px solid $primary_purple;
    padding-right:1rem;

    i {
      position: absolute;
      right: 28px;
      top: 8px;
      color: $primary_purple;
      font-weight: 900;
      font-size:1.5rem;

    }
    .search-field {
      background: transparent;
      width: 30px;
      color: #000;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      transition: all .5s;
      float: right;
      position: relative;
      z-index: 99;

      &:focus{
        width: 200px;
        background-color: #fff;
        cursor: auto;
        padding-right:30px;
        box-shadow: 3px 1px 10px rgba($color__black, $alpha7);

      }
      &:focus + i{
        color:$primary_purple;
        z-index:9999;
      }
    }

    .search-submit {
      position: absolute;
      right: 5px;
      border: none;
      background-color: initial;
      top: 10px;


    }
  }

  .support-us{
    background: $bg_topnav;
    color: $color__white;
    border: none;
    width:110px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    @include padding-x(1.5%);
    @include padding-y(.5%);
  }
  @media screen and (max-width: 768px){
    display: none;
  }
}
.menu-home{
  flex-grow: 1;
  font-family: $font__heading;
  font-weight: 700;
  @include margin-y(6%);

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
      // margin-bottom: 100vw; //test for the sliding menu

      li {
        @include padding-x(2%);
        @include padding-y(1%);
        @include margin-x(5%);
        text-transform: capitalize;
        white-space: nowrap;
        a{
          color:#fff;
          font-size: 20px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }

    }
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .Home{
    /*oval background stay on the back*/
    position: relative;
    @media (max-width: 768px){
      padding-top:20px;
    }
  }

  .oval{
    &:before {
      background: url(components/assets/images/bg_home.svg) no-repeat center center;
      content:"";
      width: 100%;
      height: 1100px;
    // min-height: 100vh;
    position: absolute;
    left:0;
    background-attachment: scroll;
    top:-50%;
    background-size:cover;
    @media (max-width: 768px){
      background: none;
    }
    @media (max-height: 400px){
      background: none;
    }
  }//end before

  .img_intro{
    margin-top:70px;

    @media screen and (min-width: 768px){
      display: none;
    }
  }
}
