.viz {
    img {
        width: 100px;
        height: auto;
    }

    button {
        background: transparent;
        border: 0;

        img{
        	width: 20px;
        	cursor: pointer;
        }
    }
}
