.vis {
	@include clearfix;
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	img[class^="vis_img"],
	.img_base {
		width: 100px;
		height: auto;
	}

	button {
		background: transparent;
		border: 0;

		img{
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}
}

/*tips for paper*/
.tips-paper{
	box-sizing: border-box;
	.img_base{
		float: left;
	}
	.vis_btn.first{
		float:left;
		margin-top: 2rem;
		margin-left: 1rem;
		
	}
	.vis_btn.second{
		float: left;
		clear: both;
		margin-left: 6rem;
		margin-top: .5rem;

	}
	.vis_btn.third{
		float:left;
		clear: both;
		margin-left: 3.5rem;
		margin-top:2rem

	}
	
	.vis_img_1{
		float: right;
		margin-top: 1rem;
	}
	
	.vis_img_2{
		float: right;
	}
	
	.vis_img_3{
		float:left;
		clear: both;
		margin-left: 2rem;
	}

	@media screen and (max-width: 768px){

		padding-left: 15vh;

		.img_base{
		padding-left: 15vh;
		
			float: left;
		}
		.vis_btn.first{
			float:left;
			clear: both;
			margin-top: 2rem;
			margin-left: 0rem;

		}
		.vis_btn.second{
			float: left;
			clear: none;
			margin-left: 0rem;
			margin-top: -2rem;

		}
		.vis_btn.third{
			float:left;
			clear: none;
			margin-left: 7rem;
			margin-top: -2rem;

		}

		.vis_img_1{
			float: left;
			clear: both;
			margin-top: 1rem;
		}

		.vis_img_2{
			float: left;
		}

		.vis_img_3{
			float:left;
			clear: none;
			margin-left:1rem;
		}
	}
	@media screen and (max-width: 500px){
		padding-left: 4vh;
		.img_base{
			margin-left:5rem;
			padding:0;
			float: left;
		}
	}
}


/*tips for plastic */
.tips-plastic{
	.img_base{
		float: right;
		width: 50px;
		margin-right: 5rem;
	}
	.vis_btn.first{
		float:right;
		margin-top: 2rem;
		margin-right: 1rem;

	}
	.vis_btn.second{
		float: right;
		clear:left;
		margin-right: 1rem;
		margin-top: 5rem;


	}
	.vis_btn.third{
		float:right;
		clear: both;
		margin-right: 5rem;
		margin-top:2rem

	}

	.vis_img_1{
		float: left;
		margin-top: 1rem;
	}

	.vis_img_2{
		float: left;
		margin-top: 5rem;
	}

	.vis_img_3{
		float:left;
	}

	@media screen and (max-width: 768px){
		.img_base{

			float: left;
		}
		.vis_btn.first{

			float:left;
			clear: both;
			margin-left: 1rem;

		}
		.vis_btn.second{
			float: left;
			margin-left: 6rem;

		}
		.vis_btn.third{
			float:left;
			margin-left: 3.5rem;

		}

		.vis_img_1{
			float: right;
			margin-top: 1rem;
		}

		.vis_img_2{
			float: right;
		}

		.vis_img_3{
			float:left;
			clear: both;
			margin-left: 2rem;
		}
	}
}

/*tips for transit */
.tips-transit{
	.img_base{
		width: 240px;
		margin: 0 auto;
	}
	.vis_btn.first{
		float:left;
		margin-top: 2rem;
	}
	.vis_btn.second{
		float: right;
		margin-right: 1rem;
	}
	.vis_img_1{
		float: left;
		clear: both;
		margin-top: 5rem;
	}

	.vis_img_2{
		float: right;
		margin-top: 6rem;
	}



	@media screen and (max-width: 768px){
		.img_base{

		}
		.vis_btn.first{

			float:left;
			margin-top: 2rem;
			margin-left: 1rem;

		}
		.vis_btn.second{
			float: left;
			clear: both;
			margin-left: 6rem;
			margin-top: .5rem;

		}
		.vis_img_1{
			float: right;
			margin-top: 1rem;
		}
		.vis_img_2{
			float: right;
		}
	}
}

/*tips for eletricity */
.tips-eletricity{
	.img_base{
		width: 60px;
		margin: 0 auto;
		display: block;
	}
	.vis_btn.first{
		float:left;
		clear: both;
	}
	.vis_btn.second{
		float: right;
		margin-right: 1rem;
	}
	.vis_img_1{
		float: left;
		clear: both;
		margin-top: 5rem;
	}

	.vis_img_2{
		float: right;
		margin-top: 6rem;
	}



	@media screen and (max-width: 768px){
		.img_base{

		}
		.vis_btn.first{

			float:left;
			margin-top: 2rem;
			margin-left: 1rem;

		}
		.vis_btn.second{
			float: left;
			clear: both;
			margin-left: 6rem;
			margin-top: .5rem;

		}
		.vis_img_1{
			float: right;
			margin-top: 1rem;
		}
		.vis_img_2{
			float: right;
		}
	}
}
