
/*--------------------------------------------------------------
## Define the main colors
--------------------------------------------------------------*/
$color__purple-primary: rgba(47, 9, 69, 1);
$primary_purple: rgba(47, 9, 69, 1);
$primary-purple: rgba(47, 9, 69, 1);
// #2f0945

$color__topnav: rgba(102, 46, 85, 1);
$bg_topnav: rgba(102,46,85,1);
// #662e55

$color__skyblue: rgba(144, 241, 249, 1);
// #90f1f9

$color__button: rgba(104, 67, 136, 1);
// #684488

$color__menu-mobile: rgba(61, 32, 82, 1);
// #3d2052

$color__footer-bg: rgba(19, 23, 40, 1);
$bg_footer: rgba(19,23,40,1);
// #131728

$color__white: rgba(255, 255, 255, 1);
// #fff
$color__white-09: rgba(255, 255, 255, .9);
$color__white-08: rgba(255, 255, 255, .8);
$color__white-07: rgba(255, 255, 255, .7);
$color__white-075: rgba(255, 255, 255, .75);

$color__black: rgba(0, 0, 0, 1);
// #000


/*--------------------------------------------------------------
## Define the support colors
--------------------------------------------------------------*/




/*--------------------------------------------------------------
## Define the gradients
--------------------------------------------------------------*/

$background_gradient : linear-gradient(to left, rgba(24, 32, 87,1),rgba(117, 48, 42,1));


$bg_body: linear-gradient(to bottom left, rgba(255, 103, 89,1),rgba(173, 47, 35,.7),rgba(135, 71, 209,1),rgba(25, 32, 87,1));
