.menu-home{
    flex-grow: 1;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      // margin-bottom: 100vw; //test for the sliding menu

      li {
        @include padding-x(2%);
        @include padding-y(1%);
        @include margin-x(2%);
        text-transform: capitalize;
        border:1px solid #000;
        white-space: nowrap;
      }
      
    }
  }