.sidebar{
  border-radius: 4px;
  background-color: $color__white-075;
  height: 71.3vh;
  position: fixed;
  max-width: 400px;
  box-sizing: border-box;
  text-align: justify;
  @include padding-y(2%);
  @include padding-x(2%);
  @media screen and (max-width: 800px){
    position: relative;
    margin-bottom: 20px;
    @include padding-y(5%);
    @include padding-x(5%);
    max-width: 100%;
  }
  @media screen and (min-width: 800px){
    position: fixed;
    margin-bottom: 0px;
    @include padding-y(2%);
    @include padding-x(2%);
    max-width: 400px;
  }
  a{
    display: block;
  }
  h4{
    margin-bottom: 5px;
  }

  button {
      border-radius: 10px;
      background-color: $color__button;
      border: 0;
      width: 100px;
      cursor: pointer;
      a{
        color: $color__white;
      }
      @include padding-x(.6rem);
      @include padding-y(.5rem);
      @include margin-y(1rem);
      @media screen and (max-width: 800px){
        margin-left: 210px;
      }
      @media screen and (min-width: 800px){
        margin-left: 250px;
      }
      &:hover {
          background-color: $color__button_hover;
          color: #fff;
          cursor: pointer;
      }
  }
}
