.contact-form.container {

  @media screen and (max-width: 768px ){
margin-bottom: 2rem;
  }
    label {
        display: block;
        @include margin-y(1rem);

        span {
            display: inline-block;
            width: 15%;
            text-align: right;
            padding-right: 1rem;
            box-sizing: border-box;
            color:$primary_purple;
            @media screen and (max-width: 768px ){
                width: 100%;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }

    input:not([type="checkbox"]):not([type="submit"]), textarea {
        width: 80%;
        // border-radius: 10px;
        border: 1px solid $color__border_input;
        @include padding-x(.6rem);
        @include padding-y(.5rem);
        box-sizing: border-box;
        @media screen and (max-width: 768px ){
            width: 100%;
        }
    }

    textarea {
        min-height: 10rem;
    }

    input[type="checkbox"], input[type="submit"] {
        margin-left: 15%;
        @media screen and (max-width: 768px ){
            margin-left:5px;
        }
    }

    input[type="submit"] {
        border-radius: 10px;
        background-color: $color__button;
        border: 0;
        color: $color__white;
        @include padding-x(1rem);
        @include padding-y(.3rem);

        &:hover {
            background-color: $color__skyblue;
            color: #fff;
            cursor: pointer;
        }
    }
}

.contact-success-results {
    // border: 2px solid $color__hippie-pink;
    border-radius: 1rem;
    @include padding-x(1rem);
}
