.contact-form.container {

    @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
    }

    label {
        display: block;
        @include margin-y(1rem);

        span {
            display: inline-block;
            width: 15%;
            text-align: right;
            padding-right: 1rem;
            box-sizing: border-box;
            color: $primary_purple;
            @media screen and (max-width: 768px) {
                display: block;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }

    input:not([type="checkbox"]):not([type="submit"]), textarea {
        width: 80%;
        // border-radius: 10px;
        border: 1px solid $color__border_input;
        @include padding-x(.6rem);
        @include padding-y(.5rem);
        box-sizing: border-box;
        @media screen and (max-width: 768px ){
            width: 100%;
        }
    }

    textarea {
        min-height: 10rem;
    }

    input[type="checkbox"], button[type="submit"] {
        margin-left: 15%;
        margin-right: 5px;
        @media screen and (max-width: 768px ){
            margin-left:5px;
        }
    }

    button[type="submit"] {
        color: $color__white;
        background-color: $color__button;
        border-radius: 10px;
        border: 0;
        width: 145px;
        @include padding-x(1rem);
        @include padding-y(.3rem);

        &:hover {
            background-color: $color__button_hover;
            color: #fff;
            cursor: pointer;
        }
    }

    @include margin-y(7rem);
}

.contact-success-results {
    border-radius: 1rem;
    @include padding-x(1rem);

    p {
        @include margin-y(.5rem);
    }
}
