$background_gradient : linear-gradient(to left, rgba(24, 32, 87,1),rgba(117, 48, 42,1));
$primary_purple: #2F0945;
/*--------------------------------------------------------------
## Define the main colors
--------------------------------------------------------------*/
$color__carnation: #f76e5b;
//rgb(247, 110, 91)
$color__bossanova: #422b5f;
//rgb(66, 43, 95)
$color__hippie-pink: #b24257;
//rgb(178, 66, 87)

/*--------------------------------------------------------------
## Define the support colors
--------------------------------------------------------------*/
