.carousel-container{

  img{
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
  }
   *{
   	outline: none;
   }
   .coverflow__container__1P-xE{
   	background: none;
   }

   @media screen and (max-width: 768px){
    display: none;
  }

}
