.carousel-container{

  img{
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
  }
   *{
   	outline: none;
   }
   .coverflow__container__1P-xE{
   	background: none;
   }

    [class*=coverflow__text]{
      background:rgba($color__white, $alpha7);
      color:$primary_purple;
      text-align: center;

      font-family: $font__heading;
      padding:1.5rem 1.5rem 1.5rem 1rem;
    }

    // @media screen and (max-width: 768px){
    //     display: none;
    // }


}
